header{
    background: white;
    &.home{
        color: white;
        position: absolute;
        width: 100%;
        $shade: rgba($primary,.7);
        background: transparent;
        background-image: linear-gradient($shade, transparent);
    }
}