/* Coolors Exported Palette - coolors.co/bdd5ea-f7f7ff-fe5f55-577399-495867 */

/* HSL */
$color1: hsla(208%, 52%, 83%, 1);
$color2: hsla(240%, 100%, 98%, 1);
$color3: hsla(4%, 99%, 66%, 1);
$color4: hsla(215%, 28%, 47%, 1);
$color5: hsla(210%, 17%, 35%, 1);

/* RGB */
$color1: rgba(189, 213, 234, 1);
$color2: rgba(247, 247, 255, 1);
$color3: rgba(254, 95, 85, 1);
$color4: rgba(87, 115, 153, 1);
$color5: rgba(73, 88, 103, 1);